@font-face{
    font-family:'社会体';
    src: url('./素材集市社会体.otf') format('truetype'); 
}
@font-face{
    font-family:'扁桃体';
    src: url('./字魂扁桃体.ttf') format('truetype'); 
}
@font-face{
    font-family:'斗鱼体';
    src: url('./douyuFont.otf') format('truetype'); 
}
@font-face{
    font-family:'泼墨体';
    src: url('./三极泼墨体.ttf') format('truetype'); 
}
@font-face{
    font-family:'大楷体';
    src: url('./阿里妈妈东方大楷_Regular.ttf') format('truetype'); 
}
@font-face{
    font-family:'抖音体';
    src: url('./DouyinSansBold.otf') format('truetype'); 
}
